<div class="headr">
  <!-- <img src="../../../assets/images/real-estate-3116341_1920.jpg" alt="hood"><br> <br> -->
  <div class="text-center headings"><h3>Welcome to Our Hoods</h3><hr></div>
</div>

<div class="jumbotron">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4" style="min-height:340px">
          <img src="../../../assets/images/langata.webp" class="card-img-top" alt="Hoodname">
          <div class="card-body">
            <h5 class="card-title">Hood name<span class="ml-4">Hood count</span></h5>
            <p class="card-text">Hood description</p>
            <a href="" class="btn btn-primary btn-sm">Join Hood</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4" style="min-height:340px">
          <img src="../../../assets/images/langata.webp" class="card-img-top" alt="Hoodname">
          <div class="card-body">
            <h5 class="card-title">Hood name<span class="ml-4">Hood count</span></h5>
            <p class="card-text">Hood description</p>
            <a href="" class="btn btn-primary btn-sm">Join Hood</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4" style="min-height:340px">
          <img src="../../../assets/images/langata.webp" class="card-img-top" alt="Hoodname">
          <div class="card-body">
            <h5 class="card-title">Hood name<span class="ml-4">Hood count</span></h5>
            <p class="card-text">Hood description</p>
            <a href="" class="btn btn-primary btn-sm">Join Hood</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4" style="min-height:340px">
          <img src="../../../assets/images/langata.webp" class="card-img-top" alt="Hoodname">
          <div class="card-body">
            <h5 class="card-title">Hood name<span class="ml-4">Hood count</span></h5>
            <p class="card-text">Hood description</p>
            <a href="" class="btn btn-primary btn-sm">Join Hood</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4" style="min-height:340px">
          <img src="../../../assets/images/langata.webp" class="card-img-top" alt="Hoodname">
          <div class="card-body">
            <h5 class="card-title">Hood name<span class="ml-4">Hood count</span></h5>
            <p class="card-text">Hood description</p>
            <a href="" class="btn btn-primary btn-sm">Join Hood</a>
          </div>
        </div>
      </div>
  </div>
</div>
