<div class="jumbotron">
    <div class="container">
        <img src="../../../assets/images/avatar.jpeg" alt="Avatar">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit libero vitae distinctio velit, fuga architecto doloribus? Sunt adipisci, qui recusandae ut tempore quos optio quisquam, voluptate aliquam omnis minus esse?</p>
        <span class="time-right">11:00</span>
      </div>
      <br>
      <div class="container darker">
        <img src="../../../assets/images/avatar.jpeg" alt="Avatar">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia beatae obcaecati accusamus veniam pariatur, accusantium natus totam facilis voluptatem ratione reiciendis quia nesciunt libero officia odio quis? Quo, necessitatibus dolores.</p>
        <span class="time-left">11:01</span>
      </div>
      <br>
      <div class="container">
        <img src="../../../assets/images/avatar.jpeg" alt="Avatar">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat recusandae tempore dolorem explicabo architecto labore deserunt placeat, voluptatem deleniti culpa laudantium omnis laborum enim commodi veritatis sequi eaque magnam possimus!</p>
        <span class="time-right">11:02</span>
      </div>
      <br>
      <div class="container darker">
        <img src="../../../assets/images/avatar.jpeg" alt="Avatar">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam optio numquam dolorem velit architecto amet quod dicta laborum consectetur voluptatem veniam, id rem nihil nam. Similique quibusdam maxime porro quidem.</p>
        <span class="time-left">11:05</span>
      </div>
      
</div>