<header>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
</header>

<div class="container">
<div class="ui grid responsive">
    <div class="eleven wide column">
        <div class="ui fluid card">
            <div class="content">
                <div class="right floated meta">
                <div class="ui grid">
                    <!-- <div class="row">
                            <a href=""><button class="ui button bwhite-lg ">Update</button></a>
                            <a href=""><button class="ui button bwhite-lg ">Delete</button></a>
                    </div> -->
                </div>
                </div>
                <img class="ui avatar image" src="../../../assets/images/avatar.jpeg"> Username

                
            </div>
            <div class="ui fluid">

            </div>
            <div class="content">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aperiam officiis dolor nulla totam vitae, tempora blanditiis atque. Voluptates culpa modi facilis eius illum vitae incidunt voluptatem. Deserunt, at odit?</p>

                <i class="comment icon"></i>
                <span> comments</span>
            </div>
            <div class="extra content">
                <div class="mb-5">
                  
                </div>
                <button class="cmt_btn ui button mb-5">Comments</button>
                <div class="comment-box">

                        <div class="ui segment mb-5">
                            <img class="ui avatar image" src="../../../assets/images/avatar.jpeg">
                            <span>comments</span>
                            <div class='mt-5'></div>
                        </div>
                    
                </div>
  
                <form action="" method="POST"class='ui fluid form'>
                    <input type="hidden" name="" value="">
                    <button type="submit" name="submit_c_form" class="ui primary button mt-5 w-full">Send</button>
                </form>
            </div>
        </div>
    </div>
    <div class="five wide column">
        <div class="ui segment">
                 
            <form action="" method="POST" class='ui form' enctype="multipart/form-data">
                <input type="text" name="" value="">
      
                <button type='submit' name="" class="ui positive button w-full mt-5" > Send</button>
            </form>
        </div>
    </div>
</div>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous"></script>
