<div class="headr">
    <img src="../../../assets/images/supermarket.jpg" alt="hood"><br> <br>
    <div class="text-center headings"><h3>Hood Market</h3><hr></div>
  </div>
  
<div class="container">
  <div class="row">
    <div class="col-6 col-md-4 m-0"> <img src="../../../assets/images/supermarket.jpg" alt=""></div>
    <div class="col-md-8 m-0">Business Datailes</div>
  </div> <hr>
  <div class="row">
    <div class="col-6 col-md-4"> <img src="../../../assets/images/supermarket.jpg" alt=""></div>
    <div class="col-md-8">Business Datailes</div>
  </div> <hr>
  <div class="row">
    <div class="col-6 col-md-4"> <img src="../../../assets/images/supermarket.jpg" alt=""></div>
    <div class="col-md-8">Business Datailes</div>
  </div>
  

