<div class="headr">
  <!-- <img src="../../../assets/images/supermarket.jpg" alt="hood"><br> <br> -->
  <div class="headings">
    <h3 class="animate__animated animate__fadeInDown ">Hood Market</h3>
    <h5>Your hoodwatch Business Spots</h5>
    <a href="" class="animate__animated animate__fadeInUp btn-primary-outline"><button>SHOP NOW</button></a>
  </div>
</div>

<div class="container" *ngFor="let business of businesses">
  <div class="row">
    <div class="col-6 col-md-4"> <img src="../../../assets/images/supermarket.jpg" alt=""></div>
    <div class="col-md-8">
      <h4>{{business.business_name}}</h4>
      <div class="text-info">
        <h5>
          {{business.business_email}}
        </h5>
      </div>
    </div>
  </div>
</div>
<hr>
